* {
	margin:0px;
	padding:0px;
	}
	
/* ---------Kayla Marcus logo---------*/	

header {
	background:"imagecopy/satin.png";
	width:940px;
	height:170px;
	margin-left:auto;
	margin-right:auto;
	border:9px solid black;
	border-radius:10px;
	box-shadow:0 1px 0 black;
	}	
body
{ 
background-image:url(satinweave.png); 
}
	
/*---------top navigation bar---------*/

#nav {
	height:18px;
	width:850px;
	margin-top:15px;
	margin-right:auto;
	margin-bottom:10px;
	margin-left:auto;
	background-color:#FFFF80; /*yellow*/
	padding:30px;30px;
	font-weight:bold;
	font-size:25px;
	text-align:center;
	border-radius:10px;
	box-shadow:1px 1px 1px black;
	}
li
{
display:inline;
}
ul {
    list-style-type: none;
}
nav ul {
  width: 900px; 
  margin: 0 auto;
}

nav li {
  line-height: 8px;
  float: center 
  text-align: center;
  width: 150px;
}	
#navbar {
	display:inline;
	padding-left:5px;
	padding-right:5px;
	}	

/*------Main Content, Wrapper, and Container------*/

body {
	margin-top:80px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	color:black;
	background-image:url(images/satin.jpg);	
	}
#container {
	margin-left:auto;
	margin-right:auto;
	width:960px;
	}	
	
#wrapper {
	width:600px;
	margin-top:20px;
	margin-bottom:20px;
	padding:2px;
    align-content: center
	background-color:white;
	border-radius:10px;
	border:10px solid black;
	float:right;
	box-shadow:1px 1px 1px black;
	}

#wrapper figure  {
	text-align:center;
	margin-top:0px;
	}

h2 {
	font-size:30px;
	margin-bottom:10px;
	padding-left:10px;
	}
	
p {
	margin-top:15px;
	}
#aside {
    float:left;
}
/*---------floats and alignment------------*/

.left {
	float:left;
	margin-right:5px;
	}	

.right {
	float:right;
	margin:0px;
	padding-right:30px;
	}

.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}	

/*---------images and list formatting------------*/

#senior {
	border:10px solid black;
	box-shadow:1px 1px 1px black;
	float:left;
	margin-top:20px;
	border-radius:10px;
	margin-bottom:20px;
	height:430px;
	width:280px;
	}


#Israel {
 border:10px solid black;
	box-shadow:1px 1px 1px black;
	float:right; 10px;
    align-self: auto
    margin-left:5px;
    margin-right:10px;
	margin-top:10px;
	border-radius:10px;
	margin-bottom:20px;
	height:435px;
	width:400px;
	}
	
#footer li {
    clear: both
	padding-left:5px;
	padding-right:5px;

	}	

footer p {
	font-size:10px;
	color:black;
	text-align:center;
	margin-top:-1px;
	}	
	
/*---------link styles---------*/

a {
	color:black;
	text-decoration:none;
	}

a:hover {
	color:blue;
	text-decoration:underline;
	}
	
a:active {
	font-weight:normal;
	}

