* {
	margin:0px;
	padding:0px;
	}
	
/* ---------Kayla Marcus logo---------*/	

header {
	width:940px;
	height:170px;
	margin-left:auto;
	margin-right:auto;
	border:9px solid black;
	border-radius:10px;
	box-shadow:0 1px 0 black;
	}	
body
{ 
background-image:url(../images/light_grey.jpg);
}
	
/*---------top navigation bar---------*/

nav {
	height:18px;
	max-width:850px;
	margin-top:15px;
	margin-right:auto;
	margin-bottom:10px;
	margin-left:auto;
	background-color:#FFFF80; /*yellow*/
	padding:30px;30px;
	font-weight:bold;
	font-size:22px;
	text-align:center;
    border:10px solid black;
	border-radius:10px;
	box-shadow:1px 1px 1px black;
	}
li
{
display:inline;
}
ul {
    list-style-type: none;
}
nav ul {
  width: 900px; 
  margin: 0 auto;
}

nav li {
  line-height: 8px;
  float: center 
  text-align: center;
  width: 150px;
}	

/*------Main Content, Wrapper, and Container------*/

body {
	margin-top:80px;
	font-family:Calibri, "Times New Roman", Times,Calibri serif;
	font-size:16px;
	color:black;
	background-image:"images/images/satin.png";	
	}

article {
    width:90%;
    padding:15px;
    margin-left: 25px;
         }
h2   {
    font-size: 40px;
}
	
#wrapper {
	max-width:960px;
	margin-top:20px;
	margin-bottom:20px;
    margin-left: auto;
    margin-right:auto;
	padding:10px;
    align-content: center
	background-color:white;
	border-radius:20px;
	border:10px solid black;
	box-shadow:1px 1px 1px black;
	}
#wrapper2 {
	width:450px;
	margin-top:20px;
	margin-bottom:20px;
    margin-left: auto;
    margin-right:40px;
	padding:10px;
    float: right
    align-content: center
	background-color:white;
	border-radius:20px;
	border:10px solid black;
	box-shadow:1px 1px 1px black;
	}
#wrapper figure  {
	text-align:center;
	margin-top:0px;
	}
#video {
	margin-top:20px;
	margin-bottom:20px;
    margin-left: auto;
    margin-right:20px;
	padding:10px;
    float: right;
    align-content: center;
    }
#contact{
    text-align: center
        }
#African {
        float: right;
        padding:10px;
            }
#African2 {
    float:left;
    padding: 10px;
   }

p {
	margin-top:15px;
	}

/*---------floats and alignment------------*/

.left {
	float:left;
	margin-right:5px;
	}	

.right {
	float:right;
	margin:0px;
	padding-right:30px;
	}

.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}	

/*---------images and list formatting------------*/

#senior {
	border:10px solid black;
	box-shadow:1px 1px 1px black;
	float:left;
    margin-right: 20px;
	margin-top:20px;
	border-radius:10px;
	margin-bottom:20px;
	height:430px;
	width:280px;
	}


#Israel {
	box-shadow:1px 1px 1px black;
	float:right; 10px;
    align-self: auto
    margin-left:5px;
    margin-right:10px;
	margin-top:10px;
	border-radius:10px;
	margin-bottom:20px;
	height:435px;
	width:400px;
	} 
	
#footer  
        {
        height:29px;
        width:900px;
        padding:10px 29px;
        margin-top:10px;
        margin-right:auto;
        margin-bottom:20px;
        margin-left:auto;
        border-radius:10px;
        position:relative;
        clear:both;
        text-align:center;
        font-size:12px;
       

	
/*---------link styles---------*/

a  {
	color:black;
	text-decoration:none;
	}

a:hover {
	color:blue;
	text-decoration:underline;
	}
	
a:active {
	font-weight:normal;
	}

